.hover {
    background: red;
}
.box {
    border-style: solid;
    border-color: black;
}

#btn {
    font-size: 30px;
    padding: 10px;
    margin: 8px;
}

#optionBtns {
    font-size: 20px;
    padding: 10px;
    margin: 8px;
}