.hover {
    background: red;
}
.box {
    border-style: solid;
    border: rgba(0, 0, 0, 1);
}

#btn {
    font-size: 30px;
    padding: 10px;
    margin: 8px;
}

#optionBtns {
    font-size: 20px;
    padding: 10px;
    margin: 8px;
}